body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}
